{% extends "base.html" %}

{% block extra_css %}
<style>
    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .search-input {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 250px; /* adjust as needed */
    }
</style>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block content %}
<div style="width: 100%;">
    <div class="header-section">
        <h1 style="">Applications</h1>
        <form method="post" action="{% url 'jobpage' %}" class="header-actions">
            {% csrf_token %}
            <input type="text" name="search_query" placeholder="Search applications..." class="search-input">
            <button class="button" type="submit">Search</button>
        </form>
        <form method="post" action="{% url 'jobpage' %}" id="filterForm">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="show_followed_up" value="true" {% if only_not_followed_up %}checked{% endif %}  onchange="this.form.submit()">
                Show only not followed up
            </label>
        </form>
        <a style="" href="{% url 'job_create' %}" class="button">Add Application</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Email</th>
                <th>Application Date</th>
                <th>URL</th>
                <th>Followed Up</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.company_name }}</td>
                <td>{{ application.position }}</td>
                <td>{{ application.location }}</td>
                <td>{{ application.email }}</td>
                <td>{{ application.application_date}}</td>
                <td>{{ application.url }}</td>
                <td>
                    {% if application.followed_up %}
                        ✓ Yes
                    {% else %}
                        ✗ No
                    {% endif %} 
                </td>
                <td>
                    <form method="post" action="{% url 'job_toggle' application.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-primary">Toggle</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" style="text-align: center;">No applications yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
